<import: src="./403">
<import: src="./404">
<import: src="./500">
<import: src="./home">

<Scripts:>
  <script src="/shared/bower_components/jquery/jquery.min.js"></script>

<Header:>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/shared/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/shared/bower_components/bootstrap/examples/jumbotron/jumbotron.css" rel="stylesheet">
  <link href="/shared/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <ui:connectionAlert>
  <header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">__($lang.locale, 'Toggle_navigation')</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><i class="fa fa-flag"></i> Derby Lang</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <app:navitem href="/" title="Home">
        </ul>
        <form class="navbar-form navbar-right">
          <label class="sr-only" for="languages">{__($lang.locale, 'Language')}</label>
          <select class="form-control" id="languages">
            {#each $lang.locales}
            <option selected="{equal($lang.locale, .)}" value="{.}">{__(., .)}</option>
            {/}
          </select>
        </form>
      </div>
    </div>
  </header>

<Footer:>
  <hr>
  <div class="container">
    <div id="footer">
      <p class="text-muted credit">
        Derby Lang {{$config.version}} · <a href="{{$config.repository.url}}"><i class="fa fa-github"></i> {__($lang.locale, 'Name_Project', 'name', 'GitHub')}</a>
      </p>
    </div>
  </div>

<navitem:>
  <li class="{{#if equal($url, @href)}}active{{/}}">
    <a href="{{@href}}">{__($lang.locale, @title)}</a>
  </li>